# ignore everything
*

# not this file
!.gitignore

# not this folders
!Code/
!Dataset/
!Documents/
!Papers/

# not their files
!Code/*
!Dataset/*
!Documents/*
!Papers/*

# not these files
!CMakeLists.txt
!README.md
